In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# read in training data
train = pd.read_csv("C:/Users/ffinl/OneDrive/Documents/Python Scripts/train (1).csv")

# read in test data
test = pd.read_csv("C:/Users/ffinl/OneDrive/Documents/Python Scripts/test.csv")

# Clear the maximum number of columns to be displayed, so that all will be visible.
pd.set_option('display.max_columns', None)

display(train)
display(test)

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,0.0,2.074329,-0.129425,-1.137418,0.412846,-0.192638,-1.210144,0.110697,-0.263477,0.742144,0.108782,-1.070243,-0.234910,-1.099360,0.502467,0.169318,0.065688,-0.306957,-0.323800,0.103348,-0.292969,-0.334701,-0.887840,0.336701,-0.110835,-0.291459,0.207733,-0.076576,-0.059577,1.98,0
1,1,0.0,1.998827,-1.250891,-0.520969,-0.894539,-1.122528,-0.270866,-1.029289,0.050198,-0.109948,0.908773,0.836798,-0.056580,-0.120990,-0.144028,-0.039582,1.653057,-0.253599,-0.814354,0.716784,0.065717,0.054848,-0.038367,0.133518,-0.461928,-0.465491,-0.464655,-0.009413,-0.038238,84.00,0
2,2,0.0,0.091535,1.004517,-0.223445,-0.435249,0.667548,-0.988351,0.948146,-0.084789,-0.042027,-0.818383,-0.376512,-0.226546,-0.552869,-0.886466,-0.180890,0.230286,0.590579,-0.321590,-0.433959,-0.021375,-0.326725,-0.803736,0.154495,0.951233,-0.506919,0.085046,0.224458,0.087356,2.69,0
3,3,0.0,1.979649,-0.184949,-1.064206,0.120125,-0.215238,-0.648829,-0.087826,-0.035367,0.885838,-0.007527,0.637441,0.676960,-1.504823,0.554039,-0.824356,-0.527267,-0.095838,-0.312519,0.642659,-0.340089,-0.095514,-0.079792,0.167701,-0.042939,0.000799,-0.096148,-0.057780,-0.073839,1.00,0
4,4,0.0,1.025898,-0.171827,1.203717,1.243900,-0.636572,1.099074,-0.938651,0.569239,0.692665,-0.097495,1.338869,1.391399,-0.128167,-0.081836,0.100548,-0.338937,0.090864,-0.423645,-0.731939,-0.203628,0.099157,0.608908,0.027901,-0.262813,0.257834,-0.252829,0.108338,0.021051,1.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219124,219124,120580.0,1.891079,-1.272908,-3.783908,-1.388939,2.012789,2.666080,0.151740,0.401934,-1.102824,0.858158,-0.280639,0.007976,-0.124950,0.914374,-0.073169,-2.309929,-0.041423,1.190526,-0.281848,-0.195703,-0.181369,-0.456538,-0.069571,0.756765,0.244479,-0.147566,-0.054725,-0.044588,198.65,0
219125,219125,120580.0,0.139724,0.948649,-2.913655,-2.184829,1.883716,-1.056824,1.725624,0.018089,-0.823494,-0.257933,-0.457534,0.516146,-0.071240,1.310799,-1.892909,-0.318780,-0.917395,0.098397,-0.195558,-0.116538,0.491469,1.478823,-0.085398,-0.091409,-1.053488,0.467570,0.358918,0.294735,24.00,0
219126,219126,120580.0,2.058343,-0.038993,-1.928553,0.330117,0.270127,-0.735664,-0.173878,0.144823,0.849289,-0.136498,0.179926,-1.769641,-3.937694,0.031346,0.028100,0.883566,0.391801,1.007789,0.303376,-0.384830,-0.306640,-0.965783,0.307799,-0.021434,-0.343989,0.181065,-0.098387,-0.044064,1.79,0
219127,219127,120580.0,2.079227,-2.162389,-1.785833,-2.804889,0.552845,4.038013,-2.155900,1.023785,-0.865242,1.536193,-0.058879,-0.885949,-0.254718,-0.425730,0.665556,-0.336634,0.301966,0.391249,0.037770,-0.190984,0.109909,0.590401,0.286621,0.675660,-0.510736,-0.090044,0.056749,-0.017126,88.00,0
219128,219128,120580.0,-0.431758,1.299171,-0.571602,-1.161499,1.141765,-1.258871,1.701553,-0.454580,-0.556978,-0.049454,1.374548,1.172926,0.722704,0.525669,-0.926260,-0.379812,-0.640176,-0.161739,0.034470,0.058133,0.225629,0.988442,-0.224609,0.082977,-0.335529,0.042237,0.304965,0.240049,3.78,0

,id,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,219129,120580.0,2.115519,-0.691809,-1.305514,-0.685655,-0.641265,-0.764784,-0.924262,-0.023030,-0.230126,0.220610,1.058325,-0.723363,-0.619241,-2.243711,-0.271429,2.007845,1.213534,0.282344,0.579121,0.067367,0.241708,0.682524,0.037769,-0.546859,-0.123055,-0.084889,0.004720,-0.021944,29.95
1,219130,120580.0,1.743525,-1.681429,-0.547387,-1.061113,-0.695825,2.458824,-1.632859,1.073529,1.068183,0.483337,0.274519,-0.346514,-0.409519,-0.564673,-0.143855,1.334855,0.160901,-0.087356,-0.066264,0.441788,0.543278,1.294571,0.309541,3.703925,-0.242579,0.068708,0.002629,0.064690,163.50
2,219131,120580.0,2.205568,-1.571445,-0.238965,-1.662517,-1.652324,-0.054701,-1.682064,0.105613,-1.177858,1.626352,0.601148,-0.041610,0.432748,-0.527684,-0.543665,0.043896,0.058472,0.622667,0.010671,-0.366906,-0.131527,0.086623,0.291375,0.739087,-0.543006,-0.297813,0.043699,-0.037855,16.00
3,219132,120580.0,1.989728,-0.972909,-1.938259,-1.440129,-0.166855,-0.794048,0.252889,-0.399789,2.079398,-1.225592,-0.869368,1.647638,1.138026,-0.258468,-0.361765,-1.253326,0.099479,-0.587702,1.207085,-0.049136,-0.080115,-0.010732,-0.038550,0.656830,0.343470,-0.627529,-0.024338,-0.036143,120.98
4,219133,120580.0,-1.943548,-1.668761,0.363601,-0.977610,2.684779,-2.037681,0.039709,-0.048895,-0.281749,-0.341879,0.471628,0.637604,-0.592416,0.331702,-1.451799,0.096467,-0.853439,-0.462060,-0.267098,0.391627,0.083389,-0.306918,0.247822,-0.391799,-0.790716,-0.025706,0.330758,0.335537,1.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146082,365211,172789.0,-0.661834,-0.622980,0.735580,-0.554067,0.869889,-0.389502,0.161226,0.069945,0.698829,-0.658935,-2.129855,-0.655069,-0.551589,-0.143536,-0.329767,0.625951,-0.949933,0.164734,0.079083,0.262408,-0.046068,-0.425692,0.253833,-1.076331,-0.999877,0.161938,0.149243,0.279708,94.81
146083,365212,172789.0,-0.098889,0.761900,0.340012,-0.589546,0.717091,-0.262765,0.726272,-0.070608,0.095958,-0.776078,-1.130049,0.506635,1.239831,-0.039782,0.446481,-0.049086,-0.746027,0.361708,-0.191256,0.064640,0.441215,1.284819,-0.141790,0.646930,-0.419964,-0.561426,0.326700,0.255166,24.99
146084,365213,172789.0,-1.487918,1.769142,0.551671,0.361566,0.056347,0.084844,0.567545,-0.059899,0.331706,1.623577,0.807877,1.021134,1.069455,-0.322923,0.063989,-0.089844,-0.764603,0.739254,0.291846,0.792736,0.163500,1.287079,-0.186955,-0.349847,-0.161724,-0.213933,0.392745,0.070938,29.99
146085,365214,172790.0,-1.889979,-0.154869,0.068496,-1.906964,-1.743181,0.717490,0.981608,-0.209713,-0.556087,-0.283025,-1.664145,-0.559516,1.238936,-0.887569,-1.155718,1.379725,0.114537,-1.190413,0.664771,-0.513829,0.121457,0.764642,-0.217844,0.104599,-0.008906,-0.204957,-0.752326,-0.155728,314.00
146086,365215,172790.0,2.058491,-1.472979,-1.948388,-1.895306,1.160925,3.611489,-1.567759,0.813258,-0.046923,0.745883,0.014464,-0.580078,0.084964,-0.319678,0.902602,1.312460,-0.149362,-0.988297,0.309858,0.178640,0.351114,0.835645,0.128687,0.743448,-0.145395,-0.065332,0.023910,-0.045230,69.00

In [3]:
# set id as index
train = train.set_index('id')
test = test.set_index('id')

# split train set into X_train, y_train
y_train = train['Class']
X_train = train.drop('Class', axis = 1)

# Solving issuues of unbalanced data

We have an issue of a highly unbalanced dataset. We may be able to resolve this issue using SMOTE (Synthetic Minority Over-sampling Technique).

In [4]:
# lets just check how much of our train set is fraudulent

fraud = train['Class'].sum()

fraud_percent = fraud/len(train['Class'])*100

print(fraud, len(train['Class']))
print(fraud_percent,'%')

469 219129
0.214029179159308 %

We are looking at only 0.2% of our training data being of the positive (fraudulent) case. Let's apply SMOTE.

In [5]:
# import SMOTE and RandomUnderSampler
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

In [6]:
# apply SMOTE to oversample the minority class
smote = SMOTE(sampling_strategy='minority')
X_train_bal, y_train_bal = smote.fit_resample(X_train, y_train)

# apply random undersampling to balance the class distribution
rus = RandomUnderSampler(sampling_strategy='majority')
X_train_bal, y_train_bal = rus.fit_resample(X_train_bal, y_train_bal)

In [7]:
# lets just check how much of our resampled set is fraudulent

fraud_bal = y_train_bal.sum()

fraud_percent_bal = fraud_bal/len(y_train_bal)*100

print(fraud_bal, len(y_train_bal))
print(fraud_percent_bal,'%')

218660 437320
50.0 %

This has rebalanced the train set to 50% fraudulent. This probably far too high due to overlap.

# Fitting to the Logistic Regression

In [8]:
# as this is a "linear" regression, we should center and scale the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_bal_scaled = scaler.fit_transform(X_train_bal)

X_test_bal_scaled = scaler.transform(test)

In [9]:
# fit the logistic regression
from sklearn.linear_model import LogisticRegression
logistic_regression_model = LogisticRegression(random_state=42)
logistic_mod_bal = logistic_regression_model.fit(X_bal_scaled, y_train_bal)

In [10]:
# predict on test data
logistic_predict_bal = logistic_mod_bal.predict(X_test_bal_scaled)

# Create a new DataFrame with 'id' and 'predicted' columns
logistic_results_balanced = pd.DataFrame({'id': test.index, 'Class': logistic_predict_bal})

# display whole set
display(logistic_results_balanced)
# show the fraudulent cases
display(logistic_results_balanced[logistic_results_balanced['Class'] != 0])

            id  Class
0       219129      0
1       219130      0
2       219131      0
3       219132      0
4       219133      0
...        ...    ...
146082  365211      0
146083  365212      0
146084  365213      1
146085  365214      0
146086  365215      0

[146087 rows x 2 columns]

            id  Class
12      219141      1
16      219145      1
18      219147      1
19      219148      1
21      219150      1
...        ...    ...
146066  365195      1
146070  365199      1
146072  365201      1
146073  365202      1
146084  365213      1

[33530 rows x 2 columns]

In [11]:
#probability interpretation
predicted_prob_bal = logistic_mod_bal.predict_proba(X_test_bal_scaled)

# we want the prediction that it is fraudulent (right column)
logistic_fraud_prob_bal = predicted_prob_bal[:,1]

# Create a new DataFrame with 'id' and 'predicted' columns
logistic_prob_bal_results = pd.DataFrame({'id': test.index, 'Class': logistic_fraud_prob_bal})

# display likely fraudulent transactions
display(logistic_prob_bal_results[logistic_prob_bal_results['Class'] > 0.5])

            id     Class
12      219141  0.508590
16      219145  0.995224
18      219147  0.506864
19      219148  0.502959
21      219150  0.723480
...        ...       ...
146066  365195  0.520510
146070  365199  0.588561
146072  365201  0.511760
146073  365202  0.781501
146084  365213  0.509199

[33530 rows x 2 columns]

In [12]:
# Save the DataFrame as a CSV file
logistic_prob_bal_results.to_csv('logistic_predict_prob_bal.csv', index=False)

# Logistic Regression Without resampling
To compare the effect, consider a fit without resampling the data

In [13]:
# scale the data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(test)

In [15]:
# fit model to unbalanced data

logisitc_mod2 = LogisticRegression(random_state=42)
logistic_mod_unbal = logisitc_mod2.fit(X_train_scaled, y_train)

In [16]:
#probability interpretation
predicted_prob_unbal = logistic_mod_unbal.predict_proba(X_test_scaled)

# Create a new DataFrame with 'id' and 'predicted' columns
logistic_prob_unbal_results = pd.DataFrame({'id': test.index, 'Class': predicted_prob_unbal[:,1]})

# display likely fraudulent transactions
display(logistic_prob_unbal_results[logistic_prob_unbal_results['Class'] > 0.5])

            id     Class
34171   253300  0.586434
44091   263220  0.558012
62173   281302  0.918921
64905   284034  0.852492
67331   286460  0.745894
69487   288616  0.554482
76067   295196  0.657421
79169   298298  0.803044
85262   304391  0.742997
85925   305054  0.835258
97757   316886  0.512848
114219  333348  0.586650
119092  338221  0.783753
126448  345577  0.525105
127479  346608  0.673130
141142  360271  0.997554
142916  362045  0.918000
144035  363164  0.598187
145888  365017  0.893750

# Ada Boosting:

In [47]:
from sklearn.ensemble import AdaBoostClassifier

In [53]:
# Create an AdaBoost classifier using the logistic regression classifier as the base estimator
ada = AdaBoostClassifier(base_estimator=logistic_regression_model, n_estimators=20, random_state=42)

# Fit the AdaBoost classifier on the training data
ada.fit(X_bal_scaled, y_train_bal)

AdaBoostClassifier(base_estimator=LogisticRegression(random_state=42),
                   n_estimators=20, random_state=42)

In [54]:
ada_predicted = ada.predict_proba(X_test_scaled)

ada_results = pd.DataFrame({'id': test.index, 'Class': ada_predicted[:,1]})

# display likely fraudulent transactions
display(ada_results[ada_results['Class'] > 0.5])

            id     Class
7       219136  0.500699
9       219138  0.501064
12      219141  0.503465
16      219145  0.530708
18      219147  0.505229
...        ...       ...
146066  365195  0.504132
146070  365199  0.504560
146072  365201  0.504804
146073  365202  0.512416
146084  365213  0.505922

[41996 rows x 2 columns]

In [55]:
# save as csv
ada_results.to_csv('ada_results.csv', index = False)

# Random Forrest
We can try to fit a random forrest classifier to the data

We can compare both the balanced and unbalanced data

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
rfc = RandomForestClassifier(n_estimators=10, max_depth=5, random_state=42)

# fit to unbalanced data
random_for = rfc.fit(X_train, y_train)

In [27]:
#fit to balanced data
rfc2 = RandomForestClassifier(n_estimators=10, max_depth=5, random_state=42)

random_for_bal = rfc2.fit(X_train_bal, y_train_bal)

In [28]:
# get predictions
random_for_predicted = random_for.predict_proba(test)
display(random_for_predicted)

random_for_predicted_bal = random_for_bal.predict_proba(test)
display(random_for_predicted_bal)

array([[0.99827709, 0.00172291],
       [0.99827709, 0.00172291],
       [0.99827709, 0.00172291],
       ...,
       [0.99827709, 0.00172291],
       [0.99827709, 0.00172291],
       [0.99827709, 0.00172291]])

array([[0.42069923, 0.57930077],
       [0.73308488, 0.26691512],
       [0.71036258, 0.28963742],
       ...,
       [0.54645247, 0.45354753],
       [0.66249348, 0.33750652],
       [0.87778298, 0.12221702]])

In [36]:
# select the fraudulent probabilities
random_for_results = random_for_predicted[:,1]
random_for_bal_results = random_for_predicted_bal[:,1]

# Create a new DataFrame with 'id' and 'predicted' columns
random_for_results = pd.DataFrame({'id': test.index, 'Class': random_for_results})
random_for_bal_results = pd.DataFrame({'id': test.index, 'Class': random_for_bal_results})

# display likely fraudulent transactions
display(random_for_results[random_for_results['Class'] > 0.5])

           id     Class
83775  302904  0.502738

In [46]:
# Save the DataFrame as a CSV file
random_for_results.to_csv('random_for.csv', index=False)
random_for_bal_results.to_csv('random_for_bal.csv', index=False)

The random forrest trained on the balanced data performed better (Kaggle score = 0.69884 compared to 0.64513)

Let's see if we can improve this with some hyperparameter tuning

# Random Forrest Hyper Parameter Tuning

# Support Vector Classifier
We can try a Support Vector Classifier

We can have either a linear, polynomial, or Radial Basis Function (RBF) kernels. As we have no knowledge of the decision boundary, we will use RBF.

This takes forever to process...

In [ ]:
from sklearn.svm import SVC
# fit with a linear kernel
svc = SVC(kernel='RBF')
svc_RBF = svc.fit(X_bal_scaled, y_train_bal)

In [ ]:
# make predictions on test data
svc_RBF_predicted = svc_RBF.predict_proba(X_test_scaled)

# extract fraudulent probs
svc_RBF_results = pd.DataFrame({'id': test.index, 'Class': svc_RBF_predicted[:,1]})

# save as csv
scv_RBF_results.to_csv('svc_RBF_results.csv', index = False)
# display likely fraudulent transactions
display(svc_RBF_results[svc_RBF_results['Class'] > 0.5])